
@import "tailwindcss";

:root {
  --espresso: #1a120b;
  --mocha: #3c2a21;
  --latte: #d5cea3;
  --cream: #fff8ea;
  --caramel: #e5b299;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--cream);
  color: var(--espresso);
  font-family: var(--font-manrope);
}

.font-heading {
  font-family: var(--font-playfair);
}